#body {font-family: "Times New Roman", Georgia, Serif;}
h1 {font-size: 60px;}
h1 a, h2 a, h3 a, h4 a , h5 a, h6 a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  letter-spacing: 1px;}

.contact_info {position: relative; top: 50;
    font-family:  'Open Sans', sans-serif;}